@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1560662211879'); /* IE9 */
  src: url('iconfont.eot?t=1560662211879#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABmwAAAJ5AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp4gRgBNgIkAwgLBgAEIAWEbQcwG74FyJ6aPCkSpQ0sCB+GCkAPiCBaQ2fvLgQgE0fkAFV0VFyEiW1ZqBpfFhZYGDbi71v7Da7J9vXvCbf0Nfrsie8tIhKhQohkk2qWIDTNegaA0pY34Jjp0gskD2guEUFRyZGAA5sOMKpoZBvJk/8wdoFLOE2g0SiHtL2+kSDkKqxJgbiVhDjk5nyKwpL1Qm3NyiKeq1GfHqRb4Fn4+/jPF7kkNZlVdnLTm4KOX0V2Wr6v7l37BH4CWl+DjGWgEBe1sSMZgjEzNMYyTYJ9FQe/WqrKt4q9mgT711mFzWAYiu9J4kpvtTCBEvdOAZuj7ib1Pbm7VR2+fc3/9i388RF5ewstvK6F9hbk19egKSzu9P7e0JEZLqOLyzVzvoH9jOePGS9s46cPHi0/fZp56J29WFyk5QceZxy/TN+BAl+IzOko/Uuvj2ALoJK3c55A8Hf1ZLStRW5BAT+X/m/CMZUCuQH1+7cH/0nSs6XoMsuSiiqpdSRToyYmNGpEFXZ1+hqr77mpVKjXc2uOOiMpsnrTxEJdRo0mK6hVbxONlvSvb9KFyRClAYtWAUK7QySt3iNrd0cs1E/U6PWNWu2RgUZXUbFjk9mQ8rsZxjmmSGKSSElDp46N50fFfhRG1TjLykJWGJktBYnX5Skm+1FHNscce0zwcU4JZYZG+sB5qKoGMZkhY5K7RM7NJreb1n3IlTQ0yLeLQXEcSiESJhGSJIOO+t25/NL3/ZBglCqOtVTU+MMQY5P6J7xcPD2I/Wq9V8W9vGMbI/DhOIqgGIOG6APDkEplIMz6YTKUxLmIIyKmJm67E+2rdq2v1T6giNVgGVLYg7LaO4yzpAgA') format('woff2'),
  url('iconfont.woff?t=1560662211879') format('woff'),
  url('iconfont.ttf?t=1560662211879') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1560662211879#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e60d";
}

